<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE</title>
    <link rel="stylesheet" href="../CP_Homework/public/styles/styles.css">
    <script src="https://kit.fontawesome.com/f2df0e5efa.js" crossorigin="anonymous"></script>
</head> -->

<!-- add google fonts -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"> -->


<!-- insert head.ejs -->
<%- include('../partials/head') %>

<!-- insert nav.ejs -->
<%- include('../partials/nav') %>

<!-- <body> -->
    <!-- <header>
        <a href="index.html" class="logo"><img class="img1"
                    src="../CP_Homework/public/images/CodeSquad-Comics-logo.png" alt="CodeSquad-Comics-logo"></a>
        <nav class="navbar">
            <ul class="navbar-list">
                <li><a href="../CP_Homework/index.html">HOME</a></li>
                <li><a href="../CP_Homework/about.html">ABOUT</a></li>
                <li><a href="../CP_Homework/login.html">LOGIN</a></li>
            </ul>
        </nav>     -->

        <!-- hamburger menu for mobile -->
        <!-- <a href="javascript:void(0);" class="menu-icon">
            <i class="fas fa-bars"></i>
        </a>
    </header> -->

    <div class="middle">
        <div class="section">
            <h1>UPDATE COMIC</h1>
            <div class="form">
                <!-- Add action and methods to these forms   -->
                <form action="/books/<&= foundbook._id &>?_method=PUT" method="POST">
                
                <!--  In both forms add a new input field that has a type of text. This field will temporarily handle images for each new or updating comic book.  -->
                <div class="row">
                    <label for="image">Image URL:</label>
                    <input type="text" id="image" name="image" placeholder="Enter the URL of the image" value="<%= name %>">
                </div>
                
                    <div class="row">
                    <label for="Title">Title: </label>
                    <input type="text" id="title" name="title" value="title value stored in database" value="<%= name %>">
                </div>
                <div class="row">
                    <label for="Author">Author: </label>
                    <input type="text" id="auhtor" name="author" value="author value stored in database" value="<%= name %>">
                </div>
                <div class="row">
                    <label for="Publisher">Publisher: </label>
                    <select name="publisher" id="publisher" value="publisher value stored in database">
                        <option value="BOOM! Box">BOOM! Box</option>
                        <option value="DC Comics">DC Comics</option>
                        <option value="Harry N. Abrams">Harry N. Abrams</option>
                        <option value="Icon Books">Icon Books</option>
                        <option value="Image Comics">Image Comics</option>
                        <option value="Marvel">Marvel</option>
                        <option value="Simion & Schuster">Simion & Schuster</option>
                        <option value="Top Shelf Productions">Top Shelf Productions</option>
                        <option value="VIZ Media LLC">VIZ Media LLC</option>
                        <option value="default" selected>publisher value stored in database</option>
                    </select>
                </div>
                <div class="row">
                    <label for="Genre">Genre: </label>
                    <input type="text" id="genre" name="genre" placeholder="Genre"
                        value="genere data stored in database"  value="<%= name %>">
                </div>
                <div class="row">
                    <label for="pages">Numer of pages: </label>
                    <input type="text" id="pages" name="pages" value="pages stored in database"  value="<%= name %>">
                </div>
                <div class="row">
                    <label for="Rating">Rating</label>
                    <input type="text" id="rating" name="rating" value="rating stored in database"  value="<%= name %>">
                </div>
                <div class="row">
                    <label for="Synopsis">Synopsis</label>
                    <textarea name="text" id="synopsis">synopsis value stored in database</textarea>
                </div>
                <div class="row"><button>Submit</button></div>
            </form></div>
        </div>
        <!-- <footer>
            <div class="container">
                <div class="footer-block">
                    <h3>VISIT US</h3>
                    <p>CodeSquad Comics
                        <br>
                        123 Dorchester Avenue
                        <br>
                        Boston, MA 02124
                    </p>
                </div>
                <div class="footer-block">
                    <h3>LINKS</h3>
                    <a href=#>Home</a>
                    <br>
                    <a href=#>About</a>
                    <br>
                    <a href=#>Login</a>
                </div>
                <div class="footer-block">
                    <h3>FOLLLOW US</h3>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                    </div>
                </div>
                <div class="footer-block">
                    <h3>A PRODUCT OF</h3>
                    <a href="http://codesquad.org/" target="_blank">
                        <img class="img2" src="../CP_Homework/public/images/CodeSquad-logo-b.png" alt="">
                    </a>
                </div>
            </div>
        </footer> -->
<!-- </body>

</html> -->

<!-- insert footer.ejs -->
<%- include('../partials/footer') %>